* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 20px;
}

.carousel-item {
    width: 400px;
    height: 400px;
}

.container {
    width: 1000px;
    display: flex;
    flex-direction: column;
}

.header {
    width: 100%;
    min-height: 40px;
    background-color: #D2D2D2;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 30px;
    gap: 8px 15px;
}

.logoNavBar {
    width: 180px;
}


.gridContainer {
    display: grid;
    grid-template-columns: 4fr;
    grid-template-areas: "mainContent";
    padding: 20px;
    flex: 1 0 auto;
}

.mainContent {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    grid-area: mainContent;
}




.footer {
    width: 100%;
    max-height: 70px;
    min-height: 40px;
    background-color: #212529;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    gap: 10px;
}

.logoFooter {
    width: 180px;
}

.footerAnchor {
    color: white;
    text-decoration: none;
}

@media (max-width: 630px) {
    .gridContainer {
        grid-template-areas:
            "mainContent"
            "sidebarContent";
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }

    .sidebarContent {
        min-width: auto;
    }

    .footerAnchor {
        font-size: 19px;
    }
}

@media (max-width: 463px) {
    .header {
        justify-content: center;
    }

    .d-flex {
        justify-content: center;
    }

    .footer {
        justify-content: center;
    }
}